CashInCore/Service References/PaymentService/PaymentService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.bankofbaku.com/PaymentService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bankofbaku.com/PaymentService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bankofbaku.com/PaymentService/Imports">
      <xsd:import schemaLocation="http://rssrv34:8002/Services/PaymentService?xsd=xsd0" namespace="http://www.bankofbaku.com/PaymentService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PaymentService_GetInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="PaymentService_GetInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentService_GetInfoPure_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoPure" />
  </wsdl:message>
  <wsdl:message name="PaymentService_GetInfoPure_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoPureResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentService_InsertPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPayment" />
  </wsdl:message>
  <wsdl:message name="PaymentService_InsertPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentService_InsertPaymentPure_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPaymentPure" />
  </wsdl:message>
  <wsdl:message name="PaymentService_InsertPaymentPure_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPaymentPureResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentService_ListServices_InputMessage">
    <wsdl:part name="parameters" element="tns:ListServices" />
  </wsdl:message>
  <wsdl:message name="PaymentService_ListServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListServicesResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentService_ListCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCategories" />
  </wsdl:message>
  <wsdl:message name="PaymentService_ListCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentService_GetService_InputMessage">
    <wsdl:part name="parameters" element="tns:GetService" />
  </wsdl:message>
  <wsdl:message name="PaymentService_GetService_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="PaymentService">
    <wsdl:operation name="GetInfo">
      <wsdl:input wsaw:Action="http://www.bankofbaku.com/PaymentService/PaymentService/GetInfo" message="tns:PaymentService_GetInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bankofbaku.com/PaymentService/PaymentService/GetInfoResponse" message="tns:PaymentService_GetInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoPure">
      <wsdl:input wsaw:Action="http://www.bankofbaku.com/PaymentService/PaymentService/GetInfoPure" message="tns:PaymentService_GetInfoPure_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bankofbaku.com/PaymentService/PaymentService/GetInfoPureResponse" message="tns:PaymentService_GetInfoPure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPayment">
      <wsdl:input wsaw:Action="http://www.bankofbaku.com/PaymentService/PaymentService/InsertPayment" message="tns:PaymentService_InsertPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bankofbaku.com/PaymentService/PaymentService/InsertPaymentResponse" message="tns:PaymentService_InsertPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPaymentPure">
      <wsdl:input wsaw:Action="http://www.bankofbaku.com/PaymentService/PaymentService/InsertPaymentPure" message="tns:PaymentService_InsertPaymentPure_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bankofbaku.com/PaymentService/PaymentService/InsertPaymentPureResponse" message="tns:PaymentService_InsertPaymentPure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListServices">
      <wsdl:input wsaw:Action="http://www.bankofbaku.com/PaymentService/PaymentService/ListServices" message="tns:PaymentService_ListServices_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bankofbaku.com/PaymentService/PaymentService/ListServicesResponse" message="tns:PaymentService_ListServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCategories">
      <wsdl:input wsaw:Action="http://www.bankofbaku.com/PaymentService/PaymentService/ListCategories" message="tns:PaymentService_ListCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bankofbaku.com/PaymentService/PaymentService/ListCategoriesResponse" message="tns:PaymentService_ListCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetService">
      <wsdl:input wsaw:Action="http://www.bankofbaku.com/PaymentService/PaymentService/GetService" message="tns:PaymentService_GetService_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bankofbaku.com/PaymentService/PaymentService/GetServiceResponse" message="tns:PaymentService_GetService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>