CashInTerminal/Service References/CashIn/CashIn1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://cashin/CashInService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cashin/CashInService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://cashin/CashInService/Imports">
      <xsd:import schemaLocation="http://cashin.terminal.server:4443/CashIn?xsd=xsd0" namespace="http://cashin/CashInService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CashInServer_GetPublicKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicKey" />
  </wsdl:message>
  <wsdl:message name="CashInServer_GetPublicKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicKeyResponse" />
  </wsdl:message>
  <wsdl:message name="CashInServer_GetTerminalInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminalInfo" />
  </wsdl:message>
  <wsdl:message name="CashInServer_GetTerminalInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminalInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CashInServer_InitTerminal_InputMessage">
    <wsdl:part name="parameters" element="tns:InitTerminal" />
  </wsdl:message>
  <wsdl:message name="CashInServer_InitTerminal_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitTerminalResponse" />
  </wsdl:message>
  <wsdl:message name="CashInServer_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="CashInServer_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="CashInServer_CommandReceived_InputMessage">
    <wsdl:part name="parameters" element="tns:CommandReceived" />
  </wsdl:message>
  <wsdl:message name="CashInServer_CommandReceived_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommandReceivedResponse" />
  </wsdl:message>
  <wsdl:message name="CashInServer_ListProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:ListProducts" />
  </wsdl:message>
  <wsdl:message name="CashInServer_ListProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListProductsResponse" />
  </wsdl:message>
  <wsdl:message name="CashInServer_ListCurrencies_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCurrencies" />
  </wsdl:message>
  <wsdl:message name="CashInServer_ListCurrencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="CashInServer_Payment_InputMessage">
    <wsdl:part name="parameters" element="tns:Payment" />
  </wsdl:message>
  <wsdl:message name="CashInServer_Payment_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentResponse" />
  </wsdl:message>
  <wsdl:message name="CashInServer_Encashment_InputMessage">
    <wsdl:part name="parameters" element="tns:Encashment" />
  </wsdl:message>
  <wsdl:message name="CashInServer_Encashment_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncashmentResponse" />
  </wsdl:message>
  <wsdl:message name="CashInServer_UpdateTerminalVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTerminalVersion" />
  </wsdl:message>
  <wsdl:message name="CashInServer_UpdateTerminalVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTerminalVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="CashInServer">
    <wsdl:operation name="GetPublicKey">
      <wsdl:input wsaw:Action="http://cashin/CashInService/CashInServer/GetPublicKey" message="tns:CashInServer_GetPublicKey_InputMessage" />
      <wsdl:output wsaw:Action="http://cashin/CashInService/CashInServer/GetPublicKeyResponse" message="tns:CashInServer_GetPublicKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTerminalInfo">
      <wsdl:input wsaw:Action="http://cashin/CashInService/CashInServer/GetTerminalInfo" message="tns:CashInServer_GetTerminalInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://cashin/CashInService/CashInServer/GetTerminalInfoResponse" message="tns:CashInServer_GetTerminalInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitTerminal">
      <wsdl:input wsaw:Action="http://cashin/CashInService/CashInServer/InitTerminal" message="tns:CashInServer_InitTerminal_InputMessage" />
      <wsdl:output wsaw:Action="http://cashin/CashInService/CashInServer/InitTerminalResponse" message="tns:CashInServer_InitTerminal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://cashin/CashInService/CashInServer/Ping" message="tns:CashInServer_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://cashin/CashInService/CashInServer/PingResponse" message="tns:CashInServer_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommandReceived">
      <wsdl:input wsaw:Action="http://cashin/CashInService/CashInServer/CommandReceived" message="tns:CashInServer_CommandReceived_InputMessage" />
      <wsdl:output wsaw:Action="http://cashin/CashInService/CashInServer/CommandReceivedResponse" message="tns:CashInServer_CommandReceived_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListProducts">
      <wsdl:input wsaw:Action="http://cashin/CashInService/CashInServer/ListProducts" message="tns:CashInServer_ListProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://cashin/CashInService/CashInServer/ListProductsResponse" message="tns:CashInServer_ListProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCurrencies">
      <wsdl:input wsaw:Action="http://cashin/CashInService/CashInServer/ListCurrencies" message="tns:CashInServer_ListCurrencies_InputMessage" />
      <wsdl:output wsaw:Action="http://cashin/CashInService/CashInServer/ListCurrenciesResponse" message="tns:CashInServer_ListCurrencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Payment">
      <wsdl:input wsaw:Action="http://cashin/CashInService/CashInServer/Payment" message="tns:CashInServer_Payment_InputMessage" />
      <wsdl:output wsaw:Action="http://cashin/CashInService/CashInServer/PaymentResponse" message="tns:CashInServer_Payment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Encashment">
      <wsdl:input wsaw:Action="http://cashin/CashInService/CashInServer/Encashment" message="tns:CashInServer_Encashment_InputMessage" />
      <wsdl:output wsaw:Action="http://cashin/CashInService/CashInServer/EncashmentResponse" message="tns:CashInServer_Encashment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTerminalVersion">
      <wsdl:input wsaw:Action="http://cashin/CashInService/CashInServer/UpdateTerminalVersion" message="tns:CashInServer_UpdateTerminalVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://cashin/CashInService/CashInServer/UpdateTerminalVersionResponse" message="tns:CashInServer_UpdateTerminalVersion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>