CashInTerminal/Service References/CashIn/CashIn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cashin/CashInService" elementFormDefault="qualified" targetNamespace="http://cashin/CashInService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InitTerminal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="terminalId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="authKey" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="publicKey" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitTerminalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InitTerminalResult" type="tns:AuthResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AuthResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StandardResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="PublicKey" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StandardResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseMessage">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ResultCodes" type="tns:ResultCodes" />
          <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseMessage" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SystemTime" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Sign" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ResultCodes">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Ok" />
          <xs:enumeration value="InvalidNumber" />
          <xs:enumeration value="InvalidParameters" />
          <xs:enumeration value="InvalidTerminal" />
          <xs:enumeration value="InvalidKey" />
          <xs:enumeration value="InvalidSignature" />
          <xs:enumeration value="UnknownError" />
          <xs:enumeration value="SystemError" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:PingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PingRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StandardRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TerminalStatus" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="CashCodeStatus" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="ErrorDescription" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StandardRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseMessage">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TerminalId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="PingResult" type="tns:PingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PingResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StandardResult">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Command" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommandReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:StandardRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommandReceivedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CommandReceivedResult" type="tns:StandardResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:StandardRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ListProductsResult" type="tns:ProductResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ProductResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StandardResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Products" type="tns:ArrayOfProduct" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameAz" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameRu" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameEn" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Assembly" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListCurrencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:StandardRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCurrenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ListCurrenciesResult" type="tns:CurrenciesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CurrenciesResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StandardResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Currencies" type="tns:ArrayOfCurrency" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Currency" nillable="true" type="tns:Currency" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Currency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IsoName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DefaultCurrency" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CurrencyRate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:PaymentInfoByProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PaymentInfoByProducts">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StandardRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="TransactionId" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Currency" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CurrencyRate" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="TerminalDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfString" />
          <xs:element minOccurs="0" maxOccurs="1" name="Banknotes" type="tns:ArrayOfInt" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfInt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="PaymentResult" type="tns:StandardResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Encashment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:Encashment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Encashment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StandardRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Currencies" type="tns:ArrayOfString" />
          <xs:element minOccurs="0" maxOccurs="1" name="Amounts" type="tns:ArrayOfInt" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EncashmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EncashmentResult" type="tns:StandardResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>